.accordion-title {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid white;
    padding: 0.5rem 1rem !important;
  }

  .accordion-content {
    display: none;
    margin-top: -1px;
    padding: 1rem;
    border: 1px solid white;
  }

  .accordion.open .accordion-content {
    display: block;
  }
